.card-text.price {
    color: #EE9972;
}

.img-bike {
    width: 1.7vw;
}

.dish.card {
    min-height: 420px;
    max-height: 420px;
}

.dish.card-body {
    background-color: #EDEFEE;
}
.card-img-top {
    width: 100%;
    height: 175px;
    object-fit: contain;
    background-color: #EE9972;
    /* images from https://yellowimages.com/images-360/products/penne-pasta-yi36021908 */
}

.card-text.section-categories.my-auto.pe-2 {
    font-size: medium;
}