.card-text.price {
    color: #EE9972;
}

.img-bike {
    width: 2vw;
}

.dish.card {
    min-height: 420px;
    max-height: 420px;
}

.dish.card-body {
    background-color: #EDEFEE;
}
.card-img-top {
    width: 100%;
    height: 175px;
    object-fit: cover;
}