@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('truetype')
}

@font-face {
    font-family: 'Markazi';
    src: url('./assets/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype')
}

*{
    margin: 0;
    font-family: 'Karla', sans-serif; /*Default font*/
}

/*Global content side padding*/
.content-padding {
    padding-left: 20vw;
    padding-right: 20vw;
}

/*Typography*/

.title {
    font-family: 'Markazi';
    font-size: 3rem;
    font-weight: 500;
}

.subtitle {
    font-family: 'Markazi';
    font-size: 2rem;
    font-weight: 400;
}

.lead-text {
    font-family: 'Karla';
    font-size: 1.4rem;
    font-weight: 500;
}

.section-title {
    font-family: 'Karla';
    font-size: 1.5rem;
    font-weight: 900;
}

.section-categories {
    font-family: 'Karla';
    font-size: 1.2rem;
    font-weight: 500;
}

.title-card {
    font-family: 'Karla';
    font-size: 1.1rem;
    font-weight: 700;
}

.price {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
}

.paragraph{ /*Max 65 characters per line*/
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: 600;
}

/*Button*/

.button-primary {
    font-weight: bolder;
    background-color: #F4CE14;
    min-width: 120px; /* Example: set a minimum width in pixels */
    max-width: 100%; /* Allow the button to take full width on smaller screens */
    min-height: 40px; /* Example: set a minimum height in pixels */
    padding: 10px; /* Example: set padding in pixels */
    border-radius: 5px; /* Example: set border radius in pixels */
    border: none;
    cursor: pointer;
    font-size: 1em; /* Set font size using relative units */
}

.button-primary:hover {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

/* Example media query for adjusting button size on smaller screens */
@media screen and (max-width: 600px) {
    .button-primary {
        min-width: 80px;
        padding: 8px;
        font-size: 0.9em;
    }
}
